.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed; /* Ensure sidebar stays fixed */
  top: 60px; /* Adjust top position to avoid overlapping the navbar */
  left: 0; /* Align sidebar to the left */
  z-index: 1000; /* Ensure sidebar appears above other content */
  margin-top: 50px;
  margin-left: auto;
}

.filter-option {
  margin-bottom: 15px;
}

.filter-option label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.radio-options label,
.checkbox-options label {
  display: block;
  margin-bottom: 5px;
}

.radio-options label input[type="radio"],
.checkbox-options label input[type="checkbox"] {
  margin-right: 10px;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%; /* Adjust width to fit the screen */
    top: 60px; /* Adjust top position to avoid overlapping the navbar */
  }
}
