/job-portel-project/dashboard/final/node_modules
/job-portel-project/dashboard/public/node_modules
/job-portel-project/dashboard/server/node_modules
/project1/project-1-final/backend/node_modules
/project1/project-1-final/flikt/node_modules
/project1/project1/new2/backend/node_modules
/project1/project1/new2/flikt/node_modules
/project2/chatbot/node_modules